In [40]:
import numpy as np
import pandas as pd
import torch
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"  # type:ignore

In [41]:
x = torch.arange(12, dtype=torch.float32)
x
x.shape
X = x.reshape(3, 4)
X
df = pd.DataFrame({"1": [1, 2, 3]})
df

tensor([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])

torch.Size([12])

tensor([[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.]])

   1
0  1
1  2
2  3